Repository jazz-sim/crochet-craft, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, crochetcraft (web app), crochet-stitcher (library)

Update dependencies
  crochet-stitcher/package.json
  crochetcraft/package.json
  package.json
  yarn.lock
Labels: crochetcraft (web app), crochet-stitcher (library)

Update dependencies
  crochet-stitcher/package.json
  crochetcraft/package.json
  package.json
  yarn.lock
Labels: crochetcraft (web app), crochet-stitcher (library)

Add debug sphere helper function
  crochetcraft/src/lib/render/debug.ts
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
Labels: crochetcraft (web app)

Add debug sphere helper function
  crochetcraft/src/lib/render/debug.ts
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
Labels: crochetcraft (web app)

Added testcases so we know if parser broken
  crochet-stitcher/test/index.spec.ts
Labels: crochet-stitcher (library)

Created tokenizer
  crochet-stitcher/src/stages/1-parser.ts
Labels: crochet-stitcher (library)

Duct tape on more functionality to the parser
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/index.spec.ts
Labels: crochet-stitcher (library)

Add Skeleton UI to web app
  crochetcraft/.prettierrc.cjs
  crochetcraft/package.json
  crochetcraft/postcss.config.js
  crochetcraft/src/app.css
  crochetcraft/src/app.html
  crochetcraft/src/routes/+layout.svelte
  crochetcraft/tailwind.config.ts
  yarn.lock
Labels: crochetcraft (web app)

Add Skeleton UI to web app
  crochetcraft/.prettierrc.cjs
  crochetcraft/package.json
  crochetcraft/postcss.config.js
  crochetcraft/src/app.css
  crochetcraft/src/app.html
  crochetcraft/src/routes/+layout.svelte
  crochetcraft/tailwind.config.ts
  yarn.lock
Labels: crochetcraft (web app)

Update code for Skeleton UI
  crochetcraft/package.json
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
  crochetcraft/svelte.config.js
  crochetcraft/tailwind.config.ts
  yarn.lock
Labels: crochetcraft (web app)

Update code for Skeleton UI
  crochetcraft/package.json
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
  crochetcraft/svelte.config.js
  crochetcraft/tailwind.config.ts
  yarn.lock
Labels: crochetcraft (web app)

attempting to play with UI ideas
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/main-ui/+page.svelte
Labels: crochetcraft (web app)

Curve builder tool
  crochetcraft/src/components/PointsTable.svelte
  crochetcraft/src/lib/geometry/cubicSpline.ts
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
  crochetcraft/src/routes/tools/+page.svelte
  crochetcraft/svelte.config.js
Labels: crochetcraft (web app)

Curve builder tool
  crochetcraft/src/components/PointsTable.svelte
  crochetcraft/src/lib/geometry/cubicSpline.ts
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
  crochetcraft/src/routes/tools/+page.svelte
  crochetcraft/svelte.config.js
Labels: crochetcraft (web app)

Add tools index page
  crochetcraft/src/routes/tools/+page.svelte
  crochetcraft/src/routes/tools/curveBuilder/+page.svelte
Labels: crochetcraft (web app)

Add tools index page
  crochetcraft/src/routes/tools/+page.svelte
  crochetcraft/src/routes/tools/curveBuilder/+page.svelte
Labels: crochetcraft (web app)

Change enum values to strings
  crochetcraft/src/routes/tools/curveBuilder/+page.svelte
Labels: crochetcraft (web app)

Change enum values to strings
  crochetcraft/src/routes/tools/curveBuilder/+page.svelte
Labels: crochetcraft (web app)

Added into as a field in parsedstitch
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/index.spec.ts
Labels: crochet-stitcher (library)

fix prettier not working on my machine because stupid
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/index.spec.ts
Labels: crochet-stitcher (library)

refactor chain stitch and fix build
  crochet-stitcher/package.json
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/index.ts
  crochet-stitcher/tsconfig.json
  crochetcraft/src/lib/builder/bezier.ts
  crochetcraft/src/lib/geometry/vectorHelper.ts
  crochetcraft/src/routes/demos/chain/+page.svelte
  yarn.lock
Labels: crochetcraft (web app), crochet-stitcher (library)

refactor chain stitch and fix build
  crochet-stitcher/package.json
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/index.ts
  crochet-stitcher/tsconfig.json
  crochetcraft/src/lib/builder/bezier.ts
  crochetcraft/src/lib/geometry/vectorHelper.ts
  crochetcraft/src/routes/demos/chain/+page.svelte
  yarn.lock
Labels: crochetcraft (web app), crochet-stitcher (library)

fix yarn lock?
  crochet-stitcher/src/models/index.ts
  crochetcraft/src/lib/geometry/cubicSpline.ts
  crochetcraft/src/lib/geometry/vectorHelper.ts
  yarn.lock
Labels: crochetcraft (web app), crochet-stitcher (library)

fix yarn lock?
  crochet-stitcher/src/models/index.ts
  crochetcraft/src/lib/geometry/cubicSpline.ts
  crochetcraft/src/lib/geometry/vectorHelper.ts
  yarn.lock
Labels: crochetcraft (web app), crochet-stitcher (library)

fix formatting
  .vscode/settings.json
  crochet-stitcher/package.json
  crochet-stitcher/src/models/index.ts
Labels: crochet-stitcher (library)

fix formatting
  .vscode/settings.json
  crochet-stitcher/package.json
  crochet-stitcher/src/models/index.ts
Labels: crochet-stitcher (library)

let's just use TS types
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/chain.ts
  crochet-stitcher/src/models/index.ts
  crochet-stitcher/src/models/types.ts
  crochet-stitcher/src/types.ts
Labels: crochet-stitcher (library)

let's just use TS types
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/chain.ts
  crochet-stitcher/src/models/index.ts
  crochet-stitcher/src/models/types.ts
  crochet-stitcher/src/types.ts
Labels: crochet-stitcher (library)

Refactor stitch model exporting
  .vscode/settings.json
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/index.ts
  crochet-stitcher/src/models/types.ts
  crochet-stitcher/src/types.ts
  crochetcraft/src/routes/demos/chain/+page.svelte
Labels: crochetcraft (web app), crochet-stitcher (library)

Refactor stitch model exporting
  .vscode/settings.json
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/index.ts
  crochet-stitcher/src/models/types.ts
  crochet-stitcher/src/types.ts
  crochetcraft/src/routes/demos/chain/+page.svelte
Labels: crochetcraft (web app), crochet-stitcher (library)

2D shear + interpolated shear
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/shear/+page.svelte
Labels: crochetcraft (web app)

2D shear + interpolated shear
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/shear/+page.svelte
Labels: crochetcraft (web app)

Force evaluation function using hooke's law
  crochet-stitcher/src/stages/3-placer.ts
Labels: crochet-stitcher (library)

Rewrite lexer
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/test/lexer.spec.ts
Labels: crochet-stitcher (library)

updated k and force function in placer
  crochet-stitcher/src/stages/3-placer.ts
Labels: crochet-stitcher (library)

Disable failing tests
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/test/index.spec.ts
Labels: crochet-stitcher (library)

Iterative forcing demo
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/stages/3-placer.ts
  crochetcraft/src/routes/demos/forces/+page.svelte
Labels: crochetcraft (web app), crochet-stitcher (library)

Iterative forcing demo
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/stages/3-placer.ts
  crochetcraft/src/routes/demos/forces/+page.svelte
Labels: crochetcraft (web app), crochet-stitcher (library)

Add iterative forcing to demos list
  crochetcraft/src/routes/demos/+page.svelte
Labels: crochetcraft (web app)

Add iterative forcing to demos list
  crochetcraft/src/routes/demos/+page.svelte
Labels: crochetcraft (web app)

.github/labeler.yml:

documentation:
    - changed-files:
          - any-glob-to-any-file:
                - 'README.md'
                - 'LICENSE'
                - 'DEVELOPMENT.md'
                - '.gitignore'

crochetcraft (web app):
    - changed-files:
          - any-glob-to-any-file:
                - 'crochetcraft/**'

crochet-stitcher (library):
    - changed-files:
          - any-glob-to-any-file:
                - 'crochet-stitcher/**'
