Repository jazz-sim/crochet-craft, pull requests merged in 2024-11, with the labels that each got.

#96 refactor chain stitch and fix build
  .vscode/settings.json
  crochet-stitcher/package.json
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/tsconfig.json
  crochetcraft/src/lib/builder/bezier.ts
  crochetcraft/src/lib/geometry/cubicSpline.ts
  crochetcraft/src/lib/geometry/vectorHelper.ts
  crochetcraft/src/routes/demos/chain/+page.svelte
Labels: crochetcraft (web app), crochet-stitcher (library)

#98 Function for evaluating the force on a single stitch
  crochet-stitcher/src/stages/3-placer.ts
Labels: crochet-stitcher (library)

#89 Add in Parser v0.5
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/index.spec.ts
  crochet-stitcher/test/lexer.spec.ts
Labels: crochet-stitcher (library)

#99 Iterative forcing alpha
  crochet-stitcher/src/index.ts
  crochet-stitcher/src/stages/3-placer.ts
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/forces/+page.svelte
Labels: crochetcraft (web app), crochet-stitcher (library)

#100 Little bit of UI~
  crochetcraft/src/app.css
  crochetcraft/src/app.html
  crochetcraft/src/components/PointsTable.svelte
  crochetcraft/src/components/canvas/Canvas.svelte
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/Preview.svelte
  crochetcraft/src/components/main-ui/Properties.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/routes/+layout.svelte
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/debug-sphere/+page.svelte
  crochetcraft/src/routes/demos/forces/+page.svelte
  crochetcraft/src/routes/demos/sample-ui/+page.svelte
  crochetcraft/src/routes/tools/+page.svelte
  crochetcraft/src/routes/tools/curveBuilder/+page.svelte
  crochetcraft/static/cc-logo-new-1-purple.png
  crochetcraft/static/cc-logo-new-2-purple.png
  crochetcraft/static/favicon.png
  crochetcraft/tailwind.config.ts
Labels: ui

#101 3d shearing stuff based on 2d shearing stuff
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/shear3d/+page.svelte
Labels: crochetcraft (web app)

#97 2D shear + interpolated shear
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/shear/+page.svelte
Labels: research, crochetcraft (web app)

#108 Sims/more UI updates
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/Properties.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/routes/demos/shear/+page.svelte
  crochetcraft/src/routes/demos/shear3d/+page.svelte
Labels: ui

#110 Fix auto-labeler labels
  .github/labeler.yml
Labels: housekeeping

#109 Finish implementing parser with repeats
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/index.spec.ts
  crochet-stitcher/test/lexer.spec.ts
  crochet-stitcher/test/parser-errors.spec.ts
  crochet-stitcher/test/parser-stress.spec.ts
  crochet-stitcher/test/parser.spec.ts
  crochet-stitcher/test/parser.ts
  crochet-stitcher/test/util.ts
Labels: parser

#112 Add 'yarn watch' command to watch for changes
  crochet-stitcher/build.mjs
  crochet-stitcher/package.json
  package.json
Labels: housekeeping

#121 Add slip knot model & selector in demo page
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/slip-knot.json
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/chain/+page.svelte
  crochetcraft/src/routes/demos/models/+page.svelte
Labels: ui, modelling, research

#123 Fix build script on Windows
  crochet-stitcher/build.cjs
  crochet-stitcher/build.mjs
  crochet-stitcher/package.json
Labels: ui, housekeeping

#120 efficient render bug free version
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/render/debug.ts
  crochetcraft/src/routes/demos/+page.svelte
  crochetcraft/src/routes/demos/main-ui/+page.svelte
Labels: ui, rendering, research

#122 refactor force iteration to 3-placer
  crochet-stitcher/src/stages/3-placer.ts
  crochetcraft/src/routes/demos/forces/+page.svelte
Labels: placer, ui, rendering

#125 Fix crochet-stitcher build
  crochet-stitcher/tsconfig.json
Labels: ui, housekeeping

#126 Upgrade to Svelte 5
  .vscode/settings.json
  crochet-stitcher/package.json
  crochetcraft/package.json
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/routes/demos/efficient-shear3d/+page.svelte
  crochetcraft/src/routes/demos/shear/+page.svelte
  crochetcraft/src/routes/demos/shear3d/+page.svelte
  package.json
  yarn.lock
Labels: ui, rendering, housekeeping, research
