Repository jazz-sim/crochet-craft, pull requests merged in 2024-12, with the labels that each got.

#129 Let's go UI!
  crochetcraft/package.json
  crochetcraft/src/components/canvas/Canvas.svelte
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/Preview.svelte
  crochetcraft/src/components/main-ui/Properties.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/main-ui/stores.ts
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/assets/white-minus.png
  crochetcraft/src/lib/assets/white-plus.png
  crochetcraft/src/routes/(experiments)/+layout.svelte
  crochetcraft/src/routes/(experiments)/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/debug-sphere/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/efficient-shear3d/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/forces/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/models/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/shear/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/shear3d/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/spline/+page.svelte
  crochetcraft/src/routes/(experiments)/tools/+page.svelte
  crochetcraft/src/routes/(experiments)/tools/curveBuilder/+page.svelte
  crochetcraft/src/routes/+layout.svelte
  crochetcraft/src/routes/demos/main-ui/+page.svelte
  crochetcraft/src/routes/main-ui/+page.svelte
  package.json
  yarn.lock
Labels: ui, rendering, research

#130 Update pattern entry component
  crochetcraft/src/components/main-ui/Editor.svelte
Labels: ui

#131 Implement row number ranges
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/test/parser-errors.spec.ts
  crochet-stitcher/test/parser.spec.ts
Labels: parser, ui

#132 Add user manual rewritten in LaTeX
  doc/.gitignore
  doc/conventions.tex
  doc/introduction.tex
  doc/layout.png
  doc/limitations.tex
  doc/main.pdf
  doc/main.tex
  doc/troubleshooting-tips.tex
  doc/use-cases.tex
Labels: ui

#133 UM: Update pattern grammar
  doc/conventions.tex
  doc/grammar.code.tex
  doc/main.pdf
  doc/main.tex
Labels: housekeeping

#134 Refactor panels and global stores
  crochetcraft/package.json
  crochetcraft/src/app.css
  crochetcraft/src/components/canvas/Canvas.svelte
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/NumericSlider.svelte
  crochetcraft/src/components/main-ui/Properties.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/main-ui/stores.ts
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/state.svelte.ts
  crochetcraft/src/routes/(experiments)/+page.svelte
  crochetcraft/src/routes/+layout.svelte
  crochetcraft/src/routes/main-ui/+page.svelte
  crochetcraft/src/styles/global.css
  crochetcraft/tailwind.config.ts
  yarn.lock
Labels: ui, rendering, housekeeping

#135 Implement hex colours in lexer and parser
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/lexer.spec.ts
  crochet-stitcher/test/parser-stress.spec.ts
  crochet-stitcher/test/parser.spec.ts
Labels: parser

#136 Update and reformat GitHub labeller config
  .github/labeler.yml
  .prettierrc.cjs
  .vscode/extensions.json
  .vscode/settings.json
Labels: housekeeping

#137 Add Blender file for slip knot model
  crochet-stitcher/src/models/.gitignore
  crochet-stitcher/src/models/save_bezier_points.py
  crochet-stitcher/src/models/slip-knot.blend
  crochet-stitcher/src/models/slip-knot.json
Labels: modelling

#139 Docked sidebars (experiment)
  crochetcraft/src/components/canvas/Canvas.svelte
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/Properties.svelte
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/routes/main-ui/+page.svelte
Labels: ui

#140 Refactor Toolbar
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/lib/files.ts
Labels: ui, rendering

#141 Replace icon images with Flaticon
  crochetcraft/package.json
  crochetcraft/src/app.css
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/lib/assets/white-minus.png
  crochetcraft/src/lib/assets/white-plus.png
  yarn.lock
Labels: ui, rendering, housekeeping

#127 Linker
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/linker.spec.ts
Labels: linker, modelling

#142 Very Basic Placer
  crochet-stitcher/src/stages/3-placer.ts
  crochet-stitcher/src/stages/3-placer/iterativeForcing.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochetcraft/src/routes/(experiments)/demos/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: placer, ui, research

#143 Copy-Paste Elaborator
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/stages/4-elaborator.ts
  crochet-stitcher/src/stages/4-elaborator/bezier.ts
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochet-stitcher/src/stages/4-elaborator/vectorHelper.ts
  crochet-stitcher/tsconfig.json
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: elaborator, ui, housekeeping, research

#144 Add iterative forcing to placer
  crochet-stitcher/src/stages/3-placer.ts
  crochet-stitcher/src/stages/3-placer/iterativeForcing.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochet-stitcher/src/types.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: placer, ui, modelling, research

#147 Refactor linker
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/test/linker-util.ts
  crochet-stitcher/test/linker.spec.ts
Labels: linker

#148 Fix mouse coordinate handling in raycasting
  crochetcraft/src/lib/ThreeCanvas.svelte
Labels: rendering
