Repository jazz-sim/crochet-craft, pull requests merged in 2025-03, with the labels that each got.

#193 Post-processing: part 2
  crochetcraft/src/components/canvas/Canvas.svelte
  crochetcraft/src/components/main-ui/FloatingToolbar.svelte
  crochetcraft/src/components/main-ui/PostProcessing.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/modals/DownloadModal.svelte
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/state.svelte.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
  crochetcraft/src/routes/main-ui/+page.svelte
Labels: ui, rendering, research

#192 Fix smoother bends at stitch connections
  crochet-stitcher/src/stages/4-elaborator/smoother.ts
Labels: rendering, research

#199 End of front-end purgatory
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/3-placer/gd-placer.ts
  crochet-stitcher/src/stages/4-elaborator.ts
  crochet-stitcher/src/stages/4-elaborator/geometryGen.ts
  crochet-stitcher/src/stages/4-elaborator/ir.ts
  crochet-stitcher/src/types.ts
  crochetcraft/src/components/canvas/Canvas.svelte
  crochetcraft/src/components/icon-card/IconCard.svelte
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/FloatingToolbar.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/modals/AboutModal.svelte
  crochetcraft/src/components/option-panel/Panel.svelte
  crochetcraft/src/components/points-table/PointsTable.svelte
  crochetcraft/src/lib/state.svelte.ts
  crochetcraft/src/routes/(experiments)/+layout.svelte
  crochetcraft/src/routes/(experiments)/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/efficient-shear3d/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/shear3d/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/spline/+page.svelte
  crochetcraft/src/routes/(experiments)/tools/+page.svelte
  crochetcraft/src/routes/(experiments)/tools/curveBuilder/+page.svelte
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/experiments/+layout.svelte
  crochetcraft/src/routes/experiments/+page.svelte
  crochetcraft/src/routes/experiments/curve-builder/+page.svelte
  crochetcraft/src/routes/experiments/debug-sphere/+page.svelte
  crochetcraft/src/routes/experiments/e2e-testing/+page.svelte
  crochetcraft/src/routes/experiments/efficient-shear3d/+page.svelte
  crochetcraft/src/routes/experiments/forces/+page.svelte
  crochetcraft/src/routes/experiments/models/+page.svelte
  crochetcraft/src/routes/experiments/shear/+page.svelte
  crochetcraft/src/routes/experiments/shear3d/+page.svelte
  crochetcraft/src/routes/experiments/spline/+page.svelte
Labels: parser, elaborator, ui, rendering, research

#211 Add bowl sample pattern
  crochetcraft/src/components/main-ui/Editor.svelte
Labels: ui

#213 Fix loss of glow when unhovering
  crochetcraft/src/lib/ThreeCanvas.svelte
Labels: rendering

#212 add double crochet
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/double-crochet.blend
  crochet-stitcher/src/models/double-crochet.json
Labels: modelling

#218 update sc
  crochet-stitcher/src/models/single.blend
  crochet-stitcher/src/models/single.json
Labels: modelling

#220 chain alterations
  crochet-stitcher/src/models/chain.blend
  crochet-stitcher/src/models/chain.json
Labels: modelling

#221 Fix increase handling in linker
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/test/linker-util.ts
  crochet-stitcher/test/linker.spec.ts
  crochet-stitcher/test/parser-util.ts
  crochet-stitcher/test/parser.spec.ts
Labels: linker

#222 Fix increase handling in GD placer
  crochet-stitcher/src/stages/3-placer/gd-placer.ts
Labels: placer

#225 Make GD placer set orientations
  crochet-stitcher/src/stages/3-placer/gd-placer.ts
Labels: placer

#226 Implement sc2tog in parser and linker
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/linker.spec.ts
  crochet-stitcher/test/parser.spec.ts
Labels: parser, linker

#228 Paste foundation in elaborator
  crochet-stitcher/src/constants.ts
  crochet-stitcher/src/models/magic-circle.blend
  crochet-stitcher/src/models/magic-circle.json
  crochet-stitcher/src/models/slip-knot.blend
  crochet-stitcher/src/models/slip-knot.json
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/3-placer/iterativeForcing.ts
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochet-stitcher/src/types.ts
Labels: parser, modelling

#227 Sc2tog base model
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/sc2tog.blend
  crochet-stitcher/src/models/sc2tog.json
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/routes/experiments/e2e-testing/+page.svelte
Labels: ui, modelling

#235 Remove unsupported stitch buttons from editor
  crochetcraft/src/components/main-ui/Editor.svelte
Labels: ui

#236 UI bugfix 2
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/FloatingToolbar.svelte
  crochetcraft/src/components/modals/AboutModal.svelte
  crochetcraft/src/routes/+page.svelte
  crochetcraft/src/routes/experiments/e2e-testing/+page.svelte
Labels: parser, ui

#237 change debounce time value to 500
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/stages/4-elaborator/smoother.ts
  crochetcraft/src/components/main-ui/Editor.svelte
Labels: ui

#238 Fixes issues with floating toolbar buttons
  crochetcraft/src/components/main-ui/FloatingToolbar.svelte
Labels: ui

#239 Fix IF/GD and upload not updating
  crochetcraft/src/components/main-ui/Editor.svelte
Labels: ui
