Repository jazz-sim/crochet-craft, pull requests merged in 2025-01, with the labels that each got.

#149 Provide location information for each stitch
  crochet-stitcher/src/stages/1-parser.ts
  crochet-stitcher/src/stages/1-parser/lexer.ts
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/lexer.spec.ts
  crochet-stitcher/test/linker-util.ts
  crochet-stitcher/test/linker.spec.ts
  crochet-stitcher/test/parser-errors.spec.ts
  crochet-stitcher/test/parser-stress.spec.ts
  crochet-stitcher/test/parser-util.ts
  crochet-stitcher/test/parser.spec.ts
  crochet-stitcher/test/util.ts
Labels: parser, linker

#151 Replace Point and Quaternion with three.js types
  crochet-stitcher/src/stages/3-placer/iterativeForcing.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/stages/4-elaborator.ts
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochet-stitcher/src/types.ts
Labels: elaborator

#152 Refactor modals, add glTF exporting
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/components/modals/AboutModal.svelte
  crochetcraft/src/components/modals/DownloadModal.svelte
  crochetcraft/src/components/modals/index.ts
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/assets/GlTF_logo.png
  crochetcraft/src/routes/+layout.svelte
Labels: ui, rendering

#154 Add single crochet model
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/save_bezier_points.py
  crochet-stitcher/src/models/single.blend
  crochet-stitcher/src/models/single.json
Labels: modelling

#153 Add gradient-descent-based placer
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/stages/3-placer.ts
  crochet-stitcher/src/stages/3-placer/gd-placer.ts
  crochet-stitcher/src/stages/4-elaborator.ts
  crochet-stitcher/src/types.ts
  crochet-stitcher/test/linker-util.ts
  crochet-stitcher/test/linker.spec.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: linker, placer, elaborator, research

#146 Elaborator Pipeline
  crochet-stitcher/src/stages/4-elaborator.ts
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochet-stitcher/src/stages/4-elaborator/geometryGen.ts
  crochet-stitcher/src/stages/4-elaborator/ir.ts
  crochet-stitcher/src/stages/4-elaborator/shear.ts
  crochet-stitcher/src/stages/4-elaborator/smoother.ts
Labels: elaborator

#173 Add button for re-centering
  crochetcraft/src/components/main-ui/Editor.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/state.svelte.ts
Labels: ui, rendering

#175 Send linker row info to naive IF placer
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/types.ts
Labels: linker
