Repository jazz-sim/crochet-craft, pull requests merged in 2025-02, with the labels that each got.

#174 [DRAFT] add initial magic circle
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/magic-circle.blend
  crochet-stitcher/src/models/magic-circle.json
Labels: modelling

#181 add orientation assignment pass
  crochet-stitcher/src/stages/3-placer.ts
  crochet-stitcher/src/stages/3-placer/orientationSetter.ts
  crochetcraft/src/lib/render/debug.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: placer, rendering, research

#179 Fix rotation jank
  crochet-stitcher/src/models/chain.json
  crochet-stitcher/src/models/single.json
  crochet-stitcher/src/stages/3-placer.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/stages/3-placer/orientationSetter.ts
  crochet-stitcher/src/stages/4-elaborator/copyPasteElaborator.ts
  crochetcraft/src/lib/builder/bezier.ts
  crochetcraft/src/lib/render/debug.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
  crochetcraft/src/routes/(experiments)/demos/models/+page.svelte
Labels: placer, modelling, rendering, research

#182 Support rings in naive placer
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/types.ts
Labels: linker

#183 Adds support for multiple parents/children
  crochet-stitcher/src/stages/2-linker.ts
  crochet-stitcher/src/stages/3-placer/gd-placer.ts
  crochet-stitcher/src/stages/3-placer/iterativeForcing.ts
  crochet-stitcher/src/stages/3-placer/naivePlacerEstimator.ts
  crochet-stitcher/src/stages/3-placer/orientationSetter.ts
  crochet-stitcher/src/stages/4-elaborator/ir.ts
  crochet-stitcher/src/stages/4-elaborator/shear.ts
  crochet-stitcher/src/types.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: linker, research

#184 Force esbuild version to 0.25.0
  package.json
  yarn.lock
Labels: housekeeping

#178 Implement Multi-select + Start Redo-ing Properties
  crochetcraft/src/components/main-ui/PostProcessing.svelte
  crochetcraft/src/components/main-ui/Toolbar.svelte
  crochetcraft/src/lib/ThreeCanvas.svelte
  crochetcraft/src/lib/state.svelte.ts
  crochetcraft/src/routes/main-ui/+page.svelte
Labels: ui, rendering

#185 add half double crochet stitch model
  crochet-stitcher/src/models.ts
  crochet-stitcher/src/models/half-double-crochet.blend
  crochet-stitcher/src/models/half-double-crochet.json
Labels: modelling

#186 Rewords comments and test case names to be more formal
  crochet-stitcher/src/stages/3-placer/gd-placer.ts
  crochetcraft/src/routes/(experiments)/demos/e2e-hell/+page.svelte
Labels: research
